/* ================= General =================*/
.pm-code {
    border-radius: 10px;
    background-color: #1E7CFD;
    padding: 3px 8px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.d-none {
    display: none;
}

.col-catalog .list-wrapper.sold-out {
    opacity: 0.5;
}

.product-section.sold-out {
    pointer-events: none;
}

.product-section.sold-out .product-single__form {
    opacity: .5;
}

.announcement+.site-header {
    padding-top: 64px;
}

.amz-banner {
    display: none;
}

.amz-banner img {
    width: 100%;
}

.amz-banner .xl-banner {
    display: block;
}

.amz-banner .xs-banner {
    display: none;
}

.product__quantity--button.js-qty input {
    display: block !important;
}

.announcement {
    text-align: center;
}

.container {
    max-width: 1360px;
}

.cla-home a:hover {
    opacity: .9;
    text-decoration: none;
}

.cla-home {
    margin-top: 123px;
}

/* ================= Font Style =================*/
@font-face {
    font-family: 'Inter-Light';
    src: url('Inter-Light.woff2') format('woff2'),
        url('Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Inter-Regular';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Inter-Medium';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Manrope-Light';
    src: url('Manrope-Light.woff2') format('woff2'),
        url('Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Manrope-Regular';
    src: url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Manrope-Medium';
    src: url('Manrope-Medium.woff2') format('woff2'),
        url('Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Manrope-Bold';
    src: url('Manrope-Bold.woff2') format('woff2'),
        url('Manrope-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

.fw-medium {
    font-family: 'Inter-Medium';
}

.fw-regular {
    font-family: 'Inter-Regular';
}

.fw-light {
    font-family: 'Inter-Light';
}

/*================= Catalog =================*/
.col-catalog .sc-title {
    background-color: #F3F8FF;
    padding-top: 60px;
    padding-bottom: 60px;
}

.col-catalog .sc-title .title-wrapper {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.col-catalog .sc-title .title-wrapper h4 {
    font-family: 'Inter-Medium';
    font-size: 16px;
    color: #111111;
    line-height: 19px;
    margin-bottom: 17px;
}

.col-catalog .sc-title .title-wrapper h2 {
    font-family: 'Inter-Medium';
    font-size: 48px;
    line-height: 50px;
    color: #080B5F;
    margin-bottom: 17px;
}

.col-catalog .sc-title .title-wrapper p {
    font-family: 'Inter-Light';
    font-size: 16px;
    line-height: 26px;
    color: #4F577D;
}

.col-catalog .sc-list {
    padding-top: 95px;
    padding-bottom: 30px;
    background-color: #fff;
}

.col-catalog .sc-list .list-wrapper {
    display: flex;
    align-items: center;
    background-color: #F3F8FF;
    border-radius: 20px;
    padding: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.col-catalog .sc-list .col-md-6 {
    margin-bottom: 73px;
}

.col-catalog .sc-list .list-thumbnail-wrapper {
    max-width: 200px;
    margin-right: 30px;
}

.col-catalog .sc-list .list-thumbnail-wrapper img {
    width: 100%;
    margin-bottom: 20px;
}

.col-catalog .sc-list .list-content-wrapper {
    max-width: 304px;
}

.col-catalog .sc-list .list-content-wrapper h2 {
    font-family: 'Inter-Medium';
    font-size: 28px;
    line-height: 34px;
    color: #080B5F;
}

.col-catalog .yotpo .standalone-bottomline .star-clickable {
    display: block;
}

.col-catalog .sc-list .yotpo-stars {
    margin-right: 7px;
}

.col-catalog .sc-list .text-m {
    pointer-events: none;
    padding: 0 !important;
}

.col-catalog .sc-list .list-content-wrapper .list-price {
    display: block;
    font-family: 'Inter-Light';
    font-size: 26px;
    line-height: 31px;
    color: #4F577D;
    margin-bottom: 17px;
}

.col-catalog .sc-list .list-content-wrapper p {
    font-family: 'Inter-Light';
    font-size: 16px;
    line-height: 26px;
    color: #4F577D;
    margin-bottom: 22px;
}

.col-catalog .sc-list .list-content-wrapper a {
    display: inline-block;
    border-radius: 50px;
    padding: 15px 23px;
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F3F8FF;
}

.btn-view:hover {
    text-decoration: none;
    background-color: #4290fa;
}

.btn-view {
    background-color: #1E7CFD;

}

.btn-sold-out {
    background-color: #4F577D;
    text-decoration: none;
}

/*================= Homepage =================*/
.sc-banner {
    pointer-events: all;
    cursor: pointer;
    padding-top: 50%;
    height: 0;
    background-image: url('https://cdn.shopify.com/s/files/1/0268/0638/6772/files/clf-hmd-xl_1920.webp?v=1778219073');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f3efee;
}

.sc-banner h2 {
    font-family: 'Manrope-Light';
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 32px;
}

.sc-banner a {
    display: flex;
    font-family: 'Manrope-Medium';
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    color: #002C74;
    border-radius: 50px;
    width: 160px;
    height: 50px;
    margin: auto;
}

.sc-featured .wrapper {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.sc-featured h4 {
    font-family: 'Manrope-Regular';
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #002C74;
    margin-bottom: 60px;
}

.sc-featured img {
    margin-bottom: 45px;
    max-height: 280px;
}

.sc-featured p {
    font-family: 'Manrope-Light';
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #4D5254;
    margin-bottom: 30px;
}

.sc-featured a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    background: #2C7EF8;
    border-radius: 50px;
    font-family: 'Manrope-Medium';
    font-size: 14px;
    color: #FFFFFF;
    margin: auto;
}

.sc-featured .ps1,
.sc-featured .ps3 {
    background-color: #F8F8F8;
    padding-top: 55px;
    padding-bottom: 60px;
}

.sc-featured .ps2 {
    background-color: #fff;
    padding-top: 55px;
    padding-bottom: 60px;
}


.sc-reviews .wrapper {
    padding-top: 130px;
    padding-bottom: 100px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.sc-reviews .slick-dots li button:before {
    font-size: 38px !important;
}

.sc-reviews .slick-dots li.slick-active button:before {
    color: #002C74 !important;
}

.sc-reviews .slick-slider .slick-dots li.slick-active button {
    width: 10px !important;
    height: 10px !important;
}

.sc-reviews .slick-slider .slick-dots li.slick-active {
    width: 10px !important;
    height: 10px !important;
}

.sc-reviews .slick-prev:before,
.sc-reviews .slick-next:before {
    color: #002C74 !important;
    font-size: 28px !important;
    text-shadow: none !important;
}


.sc-reviews .slick-next {
    right: -60px !important;
}

.sc-reviews .slick-prev {
    left: -60px !important;
}

.sc-reviews .slick-dots {
    bottom: -10px !important;
    text-align: left;
}

.sc-reviews p {
    font-family: 'Manrope-Light';
    font-size: 26px;
    line-height: 1.4;
    color: #4D5254;
    margin-bottom: 40px;
}

.sc-reviews span {
    display: block;
    font-family: 'Manrope-Bold';
    font-size: 14px;
    line-height: 1.2;
    color: #4D5254;
    margin-bottom: 20px;
}

.sc-reviews a {
    font-family: 'Manrope-Medium';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: #002C74;
}

.sc-reviews .bg-img {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sc-reviews .btn1 {
    position: absolute;
    top: 40px;
    left: 50px;
    padding: 15px 22px;
    background-color: #fff;
    border-radius: 20px;
    font-family: 'Manrope-Bold';
    font-size: 14px;
    color: #002C74;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
}

.sc-reviews .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 160px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    font-family: 'Manrope-Medium';
    font-size: 14px;
    color: #002C74;
    text-decoration: none;
}

.sc-function {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #9FA8AD;
}

.sc-function h2 {
    font-family: 'Manrope-Light';
    font-size: 45px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 82px;
}

.sc-function .wrapper {
    max-width: 232px;
    margin-left: auto;
    margin-right: auto;
}

.sc-function img {
    margin-bottom: 28px;
}

.sc-function p {
    font-family: 'Manrope-Regular';
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.sc-about .bg-img {
    background-image: url('https://cdn.shopify.com/s/files/1/0268/0638/6772/files/p1.jpg?v=1651287826');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sc-about .wrapper {
    padding-top: 94px;
    padding-bottom: 96px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.sc-about .wrapper h2 {
    font-family: 'Manrope-Light';
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #002C74;
    margin-bottom: 21px;
}

.sc-about .wrapper p {
    font-family: 'Manrope-Light';
    font-size: 16px;
    line-height: 25px;
    color: #4D5254;
    margin-bottom: 25px;
}

.sc-about .wrapper h4 {
    font-family: 'Manrope-Light';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #2C7EF8;
    margin-bottom: 18px;
}

.sc-about .wrapper ul {
    list-style: none;
    margin: 0;
}

.sc-about .wrapper ul li {
    margin-bottom: 0;
}

.sc-about .wrapper a {
    display: inline-block;
    background-color: #2C7EF8;
    border-radius: 50px;
    padding: 15px 30px;
    font-family: 'Manrope-Medium';
    font-size: 14px;
    color: #FFFFFF;
}

.sc-video {
    display: none;
    background-color: #f4f6f8;
    padding-top: 130px;
    padding-bottom: 130px;
}

.sc-video h2 {
    font-family: 'Manrope-Regular';
    font-size: 50px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: -0.02em;
    color: #002C74;
    margin-bottom: 42px;
}

.sc-video .wrapper {
    border: 4px solid #fff;
    border-radius: 6px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.sc-cta {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url('https://cdn.shopify.com/s/files/1/0268/0638/6772/files/sc-bg1.jpg?v=1651283406');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sc-cta img {
    display: none;
}

.sc-cta .container {
    max-width: 1100px !important;
}

.sc-cta .wrapper {
    max-width: 450px;
    background-color: #fff;
    padding: 96px 86px;
}

.sc-cta .wrapper h4 {
    font-family: 'Manrope-Medium';
    font-size: 14px;
    color: #2C7EF8;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.sc-cta .wrapper h2 {
    font-family: 'Manrope-Light';
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #002C74;
    margin-bottom: 25px;
}

.sc-cta .wrapper p {
    font-family: 'Manrope-Light';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #4D5254;
    margin-bottom: 40px;
}

.sc-cta .wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    font-family: 'Manrope-Medium';
    font-size: 14px;
    color: #FFFFFF;
    background-color: #2C7EF8;
    border-radius: 50px;
    margin: auto;
}

.sc-social {
    background-color: #F3F3F3;
    padding-top: 94px;
    padding-bottom: 100px;
}

.sc-social h2 {
    font-family: 'Manrope-Light';
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -0.02em;
    color: #4D5254;
    margin-bottom: 50px;
}

.sc-social span {
    display: block;
    font-family: 'Manrope-Medium';
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #4D5254;
    margin-bottom: 60px;
}

.sc-social .wrapper {
    max-width: 280px;
}

.sc-social .wrapper ul {
    margin: 0;
    list-style: none;
}

.sc-social .wrapper ul li {
    display: inline-block;
    margin-right: 20px;
}

.sc-social .wrapper ul li:last-child {
    margin-right: 0;
}

.sc-social .img-list {
    list-style: none;
    margin: 0;
}

.sc-social .img-list li {
    margin-right: 20px;
    display: inline-block;
}

.sc-social .img-list li:last-child {
    margin-right: 0;
}

/* ================= Footer Style =================*/
.sc-footer {
    background-color: #002C74;
    padding-bottom: 76px;
}

.sc-footer h4 {
    font-family: 'Manrope-Medium';
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 26px;
}

.sc-footer .link-list {
    list-style: none;
    margin: 0;
}

.sc-footer .link-list li {
    margin-bottom: 15px;
}

.sc-footer .link-list a {
    font-family: 'Manrope-Light';
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
}

.sc-footer .row-first {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sc-footer .row-second {

    margin-bottom: 33px;
}

.sc-footer .row-second .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

.sc-footer .row-second ul {
    list-style: none;
    margin: 0;
}

.sc-footer .row-second ul li {
    display: inline-block;
    margin-right: 10px;
}

.sc-footer .row-second ul li:last-child {
    margin-right: 0;
}

.sc-footer .row-second .social {
    display: flex;
    align-items: center;
}

.sc-footer .row-second .social span {
    font-family: 'Manrope-Light';
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    color: #fff;
    margin-right: 20px;
}

.sc-footer .row-third span {
    display: inline-block;
    font-family: 'Manrope-Light';
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.sc-footer a:hover {
    opacity: .8;
    text-decoration: none;
}

/* ================= Product Page =================*/
.oval-bg {
    background-image: url('https://cdn.shopify.com/s/files/1/0268/0638/6772/files/oval-bg.png?v=1685592555');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.product-single__title {
    font-family: 'Manrope-Medium';
    font-weight: 500;
    font-size: 30px !important;
    letter-spacing: -0.75px;
    color: #002C74;
}

.product-single__description-full {
    margin: 10px 0;
}

.product-single__description-full p {
    font-family: 'Manrope-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.444444px;
    color: #9FA8AD;
}

.product-single__description-full ul:nth-child(2) {
    font-family: 'Manrope-Regular';
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.444444px;
    color: #2C7EF8;
    margin-left: 0;
}

.payment-buttons .shopify-payment-button__button--unbranded {
    background-color: #002C74 !important;
}

.product__quantity {
    margin-bottom: 25px !important;
}

.product__quantity label {
    font-family: 'Manrope-Regular';
    font-size: 16px;
    color: #031C3C;
    font-weight: 400;
    letter-spacing: -0.75px;
}

.ruk_rating_snippet .ruk-rating-snippet-count {
    font-family: 'Manrope-Regular' !important;
}

.product__price {
    font-family: 'Manrope-Medium';
    font-weight: 500;
    color: #031C3C;
}

.payment-buttons .add-to-cart {
    background-color: #2c7ef8 !important;
    border-color: #2c7ef8 !important;
    color: #fff !important;
}

.product__quantity--button.js-qty input {
    font-family: 'Manrope-Medium';
    display: block !important;
    border: 2px solid #D8DEE6;
    border-radius: 25px;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.444444px;
    color: #031C3C;
}

.payment-buttons .shopify-payment-button__button--unbranded,
.payment-buttons .add-to-cart {
    font-family: 'Manrope-Medium';
    font-weight: 500;
    font-size: 16px !important;
    text-align: center;
    color: #FFFFFF;
}

.payment-buttons .shopify-payment-button__button--unbranded:hover,
.payment-buttons .add-to-cart:hover {
    opacity: 0.8;
}

.product-single__description-full ul:nth-child(2)li {
    padding-left: 30px;
    background-image: url('https://cdn.shopify.com/s/files/1/0268/0638/6772/files/icon-checked.svg?v=1685581743');
    background-repeat: no-repeat;
    background-size: 15px 11px;
    background-position: left center;
    margin-bottom: 14px;
}

.product-single__description-full ul:nth-child(3) {
    list-style: none;
    margin-left: 0;
    font-family: 'Manrope-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.444444px;
    color: #9FA8AD;
}

.product-single__description-full ul:nth-child(3) li:first-child {
    font-family: 'Manrope-Medium';
    font-size: 500;
}

.product-single__description-full ul:nth-child(3) li {
    margin-bottom: 5px;
}



.product-single__description-full ul li:last-child {
    margin-bottom: 0;
}

.sc-prod_featured {
    padding-top: 90px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);
}

.sc-prod_featured img {
    max-width: 320px;
}

.sc-prod_featured ul {
    font-family: 'Manrope-Medium';
    list-style: none;
    margin: 0;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.75px;
    color: #2C7EF8;
}

.sc-prod_featured .list-left {
    text-align: right;
}

.sc-prod_featured .list-right {
    text-align: left;
}

.sc-prod_featured .oval-bg {
    padding-top: 80px;
    padding-bottom: 80px;
}

.sc-prod_featured .col-show .list-left li {
    right: 0;
    padding-right: 30px;
    background-image: url('https://cdn.shopify.com/s/files/1/0268/0638/6772/files/icon-oval.png?v=1685664500');
    background-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sc-prod_featured .col-show .list-right li {
    left: 0;
    padding-left: 30px;
    background-image: url('https://cdn.shopify.com/s/files/1/0268/0638/6772/files/icon-oval.png?v=1685664500');
    background-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sc-prod_featured .list-left li {
    position: relative;
    right: -24px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url('https://cdn.shopify.com/s/files/1/0268/0638/6772/files/icon-line_left.svg?v=1685591648');
    background-repeat: no-repeat;
    background-size: 60px 20px;
    background-position: right center;
}

.sc-prod_featured .list-right li {
    position: relative;
    left: -24px;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url('https://cdn.shopify.com/s/files/1/0268/0638/6772/files/icon-line_right.svg?v=1685591649');
    background-repeat: no-repeat;
    background-size: 60px 20px;
    background-position: left center;
}

.sc-prod_featured h2 {
    font-family: 'Manrope-Regular';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
    color: #031C3C;
    margin-bottom: 80px;
}

.sc-prod_featured .wrapper {
    max-width: 1153px;
    margin-left: auto;
    margin-right: auto;
}

.sc-prod_alternate {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sc-prod_alternate .row {
    margin-bottom: 60px;
}

.sc-prod_alternate .row:last-child {
    margin-bottom: 0;
}

.sc-prod_alternate .wrapper {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
}

.sc-prod_alternate h3 {
    font-family: 'Manrope-Regular';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
    color: #002C74;
    margin-bottom: 20px;
}

.sc-prod_alternate p {
    font-family: 'Manrope-Light';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #9FA8AD;
}

.sc-prod_discover {
    padding-bottom: 70px;
}

.sc-prod_discover hr {
    border-top: 1px solid #DFDFDF;
    margin-top: 0;
    margin-bottom: 90px;
}

.sc-prod_discover h3 {
    font-family: 'Manrope-Regular';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
    color: #002C74;
    margin-bottom: 20px;
}

.sc-prod_discover p {
    font-family: 'Manrope-Light';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #9FA8AD;
}

.sc-prod_discover .row:first-child {
    margin-bottom: 50px;
}

.sc-prod_discover figure {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.sc-prod_discover figure img {
    margin-bottom: 36px;
}

.sc-prod_discover figure figcaption,
.sc-prod_discover figure p {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.sc-prod_discover figure figcaption {
    font-family: 'Manrope-Regular';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    letter-spacing: -1px;
    color: #002C74;
    margin-bottom: 16px;
}

.sc-prod_reviews {
    padding-top: 92px;
    padding-bottom: 110px;
    background-color: #F8F8F8;
    overflow: hidden;
}

.sc-prod_reviews .title-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 53px;
}

.sc-prod_reviews .col-md-12 {
    padding: 0;
}

.sc-prod_reviews h3 {
    font-family: 'Manrope-Regular';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
    color: #002C74;
}

.sc-prod_reviews p {
    font-family: 'Manrope-Light';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #9FA8AD;
}

.sc-prod_reviews .prod-review-slider .wrapper {
    max-width: 640px;
    width: 640px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
}

.sc-prod_reviews .slick-slide {
    opacity: 0.4;
}

.sc-prod_reviews .slick-current {
    opacity: 1;
}

.sc-prod_reviews .prod-review-slider .wrapper img {
    margin: 0 auto 25px;
}

.sc-prod_reviews .prod-review-slider .content {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
}

.sc-prod_reviews .prod-review-slider.content img {
    margin-bottom: 27px;
}

.sc-prod_reviews .prod-review-slider .content p {
    font-family: 'Manrope-Medium';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #002C74;
}

.sc-prod_reviews .prod-review-slider .bottom {
    border-top: 1px solid #C6D6E1;
    padding: 30px 40px;
}

.sc-prod_reviews .prod-review-slider .bottom ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    font-family: 'Manrope-Medium';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.5px;
    color: #002C74;
    margin: 0;
}

.sc-prod_reviews .prod-review-slider .bottom ul span {
    color: #2C7EF8;
}

.sc-prod_reviews .prod-review-slider .bottom ul li:last-child {
    color: #9FA8AD;
}

.sc-prod_reviews .prod-review-slider .slick-dots li.slick-active button:before {
    background-color: #2C7EF8;
}

.sc-prod_reviews .prod-review-slider .slick-dots {
    bottom: -45px;
}

.sc-prod_reviews .prod-review-slider .slick-dots li button::before,
.sc-prod_reviews .prod-review-slider .slick-dots li.slick-active button::before,
.sc-prod_reviews .prod-review-slider .slick-dots li.slick-active button,
.sc-prod_reviews .prod-review-slider .slick-dots li button {
    width: 10px;
    height: 10px;
}

.sc-prod_reviews .prod-review-slider .slick-dots li button:before {
    color: transparent;
    background-color: #C6D4DD;
}

.sc-prod_reviews .prod-review-slider .slick-prev::before,
.sc-prod_reviews .prod-review-slider .slick-next::before {
    content: "";
}

.sc-prod_reviews .prod-review-slider .slick-next {
    right: 30px;
    background-image: url('https://cdn.shopify.com/s/files/1/0268/0638/6772/files/arrow-right.svg?v=1685493810');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50px;
    height: 50px;
}

.sc-prod_reviews .prod-review-slider .slick-prev {
    left: 30px;
    background-image: url('https://cdn.shopify.com/s/files/1/0268/0638/6772/files/arrow-left.svg?v=1685493810');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 50px;
    height: 50px;
}

.sc-prod_list {
    padding-top: 92px;
    padding-bottom: 60px;
}

.sc-prod_list h3 {
    font-family: 'Manrope-Regular';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
    color: #002C74;
    margin-bottom: 20px;
}

.sc-prod_list p {
    font-family: 'Manrope-Light';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #9FA8AD;
}

.sc-prod_list figure {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.sc-prod_list .title-wrapper {
    margin-bottom: 74px;
}

.sc-prod_list figure img {
    margin-bottom: 36px;
}

.sc-prod_list figure figcaption {
    font-family: 'Manrope-Bold';
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    letter-spacing: -1px;
    color: #002C74;
    margin-bottom: 5px;
}

.sc-prod_list figure .price {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 0;
    font-family: 'Manrope-Medium';
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    letter-spacing: -0.611111px;
    margin-bottom: 27px;
}

.sc-prod_list figure .price li:first-child {
    margin-right: 10px;
}

.sc-prod_list figure .sale {
    color: #2C7EF8;
}

.sc-prod_list figure .comprice {
    color: #4E6781;
}


.sc-prod_list figure a {
    font-family: 'Manrope-Medium';
    display: Flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: #2C7EF8;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    margin: auto;
}

.sc-prod_review-collection {
    padding-top: 95px;
    padding-bottom: 95px;
}

.sc-prod_review-collection hr {
    border-top: 1px solid #DFDFDF;
}

.sc-prod_review-collection h3 {
    font-family: 'Manrope-Regular';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
    color: #002C74;
}

.sc-prod_review-collection p {
    font-family: 'Manrope-Light';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #9FA8AD;
}

.sc-prod_review-collection .title-wrapper {
    margin-bottom: 75px;
}

.sc-prod_review-collection {}

/* ================= Media Query =================*/
/* ================= Product Page =================*/
@media screen and (min-width: 992px) {
    .col-hide {
        display: flex;
    }

    .col-show {
        display: none !important;
    }
}

@media screen and (max-width: 992px) {
    .sc-prod_featured h2 {
        margin-bottom: 0;
    }

    .sc-prod_featured img {
        margin-bottom: 50px;
    }

    .col-hide {
        display: none !important;
    }

    .col-show {
        display: flex;
    }

    .sc-prod_featured img {
        max-width: 260px;
    }
}

@media screen and (max-width: 768px) {
    .sc-prod_alternate .wrapper {
        margin-bottom: 20px;
    }

    .sc-prod_discover figure {
        margin-bottom: 50px;
    }

    .sc-prod_list figure {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 575px) {
    .sc-prod_review-collection h3 {
        font-size: 32px;
    }

    .sc-prod_review-collection {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .sc-prod_list h3 {
        font-size: 32px;
    }

    .sc-prod_list {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .sc-prod_reviews {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .sc-prod_reviews .prod-review-slider .wrapper {
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .sc-prod_featured h2 {
        font-size: 32px;
    }

    .sc-prod_featured .oval-bg {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .sc-prod_featured {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .sc-prod_featured img {
        max-width: 172px;
    }

    .sc-prod_featured ul {
        font-size: 18px;
    }

    .sc-prod_featured .col-show .list-left li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .sc-prod_featured .col-show .list-right li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .sc-prod_featured .list-left {
        text-align: left;
    }

    .sc-prod_featured .col-show .list-left li {
        background-position: left center;
    }

    .sc-prod_featured .col-show .list-left li {
        padding-right: 0;
        padding-left: 30px;
    }

    .sc-prod_alternate h3 {
        font-size: 32px;
    }

    .sc-prod_alternate {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .sc-prod_discover hr {
        margin-bottom: 40px;
    }

    .sc-prod_discover h3 {
        font-size: 32px;
    }

    .sc-prod_discover .row:first-child {
        margin-bottom: 30px;
    }

    .sc-prod_discover {
        padding-bottom: 0;
    }
}

/* ================= HOmepage =================*/
@media screen and (min-width: 768px) {

    .sc-about img,
    .sc-reviews img {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .sc-cta {
        background-image: none;
        padding: 0;
    }

    .sc-social {
        margin-top: -142px;
    }

    .sc-cta .wrapper {
        background-color: #f8f8f8;
        border-radius: 6px;
        margin: auto;
        position: relative;
        top: -142px;
        z-index: 1;
    }

    .sc-cta img {
        display: block;
        width: 100%;

    }

    .flow-reverse {
        flex-flow: column-reverse;
    }

    .bg-img {
        background: none !important;
        padding: 0 !important;
    }

    .sc-about img,
    .sc-reviews img {
        display: block !important;
    }

    .sc-cta .wrapper {
        margin: auto;
    }

    .sc-reviews {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 568px) {
    .sc-social {
        margin-top: -84px;
    }

    .sc-cta .wrapper {
        top: -84px;
    }

    .cla-home {
        margin-top: 123px !important;
    }

    .sc-banner {
        padding-top: 150%;
        background-image: url('https://cdn.shopify.com/s/files/1/0268/0638/6772/files/clf-hmd-xs_800.webp?v=1778219864');
    }

    .sc-banner h2 {
        font-size: 36px !important;
    }

    .sc-featured .ps1,
    .sc-featured .ps2,
    .sc-featured .ps3 {
        padding-top: 38px !important;
        padding-bottom: 38px !important;
    }

    .sc-featured h4 {
        font-size: 24px !important;
        margin-bottom: 20px !important;
    }

    .sc-featured img {
        margin-bottom: 20px !important;
        max-height: 200px !important;
    }

    .sc-featured p {
        margin-bottom: 20px !important;
    }

    .sc-reviews .btn2 {
        display: none !important;
    }

    .sc-reviews .wrapper {
        padding-top: 30px !important;
        padding-bottom: 38px !important;
    }

    .sc-reviews p {
        font-size: 22px !important;

    }

    .sc-reviews p {
        margin-bottom: 24px !important;
    }

    .sc-reviews .slick-dotted.slick-slider {
        margin-bottom: 24px !important;
    }

    .sc-reviews a {
        font-size: 16px !important;
    }

    .sc-function {
        padding-top: 40px !important;
        padding-bottom: 30px !important;
    }

    .sc-function h2 {
        font-size: 32px !important;
        margin-bottom: 38px !important;
    }

    .sc-function .wrapper {
        margin-bottom: 38px !important;
    }

    .sc-about {
        padding-top: 0 !important;
    }

    .sc-about .wrapper {
        padding-top: 30px !important;
        padding-bottom: 38px !important;
    }

    .sc-video {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .sc-video h2 {
        font-size: 32px !important;
        margin-bottom: 20px !important;
    }

    .sc-cta {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .sc-cta .wrapper {
        padding: 38px 20px !important;
    }

    .sc-social {
        padding-top: 38px !important;
        padding-bottom: 38px !important;
    }

    .sc-social .img-list {
        margin-top: 30px !important;
        text-align: center;
    }

    .sc-social .img-list li {
        margin-right: 0 !important;
    }

    .sc-social .wrapper {
        text-align: center !important;
        max-width: 100% !important;
    }

    .sc-social h2 {
        margin-bottom: 20px !important;
    }

    .sc-social span {
        margin-bottom: 20px !important;
    }

    .sc-reviews .slick-dots {
        bottom: 0px !important;
    }

    .bg-img {
        padding: 0 !important;
    }

    .sc-function img {
        max-width: 100px !important;
    }

}

/* ================= Catalog =================*/
@media screen and (max-width: 1100px) {
    .col-catalog .sc-list .list-wrapper {
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    .col-catalog .sc-list .list-thumbnail-wrapper {
        margin-left: auto;
        margin-right: auto !important;
    }

    .col-catalog .sc-list .list-content-wrapper {
        max-width: 100% !important;
    }

    .col-catalog .yotpo .pull-left {
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 520px) {
    .col-catalog .sc-title {
        padding-top: 30px !important;
        padding-bottom: 20px !important;
    }

    .col-catalog .sc-title .title-wrapper h2 {
        font-family: 'Inter-Medium';
        font-size: 32px !important;
        line-height: 38px !important;
    }

    .col-catalog .sc-title .title-wrapper h4 {
        margin-bottom: 10px;
    }

    .col-catalog .sc-list {
        padding-top: 52px !important;
        padding-bottom: 10px !important;
    }

    .col-catalog .sc-list .list-wrapper {
        padding: 30px 20px !important;
    }

    .col-catalog .sc-list .col-md-6 {
        margin-bottom: 32px !important;
    }

    .col-catalog .sc-list .list-thumbnail-wrapper {
        max-width: 140px !important;
    }

    .col-catalog .sc-list .list-content-wrapper h2 {
        font-size: 22px !important;
        line-height: 28px !important;
    }

    .col-catalog .sc-list .list-content-wrapper .list-price {
        font-size: 23px !important;
        line-height: 28px !important;
        margin-bottom: 10px !important;
    }

    .col-catalog .sc-list .list-content-wrapper button {
        font-size: 14px !important;
    }

}

/* ================= Footer =================*/

@media screen and (max-width: 576px) {
    .amz-banner .xl-banner {
        display: none;
    }

    .amz-banner .xs-banner {
        display: block;
    }

    .sc-footer {
        padding-bottom: 30px;
    }

    .sc-footer .row-first {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .sc-footer .link-list {
        margin-bottom: 30px;
    }

    .sc-footer .row-second .wrapper>img {
        width: 140px;
        height: 15px;
    }

    .sc-footer .row-second .wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sc-footer .row-second {
        margin-bottom: 20px;
    }

    .sc-footer .link-list li {
        margin-bottom: 10px;
    }

    .sc-footer h4 {
        margin-bottom: 18px;
    }

    .sc-footer .row-second .social {
        display: block;
    }

    .sc-footer .row-second .social span {
        font-size: 14px;
    }

    .sc-footer .row-third span {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .sc-footer .row-second .wrapper {
        display: block;
    }

    .sc-footer .row-second .social {
        margin-top: 10px;
    }
}